<img class="imginicial" src="../images/home/homeinicio.jpg" alt="https://www.infomoney.com.br/wp-content/uploads/2021/03/pexels-ksenia-chernaya-loja-roupas.jpg?fit=1920%2C1080&quality=50&strip=all">
<figcaption> <a class="fonte" href="https://www.infomoney.com.br/negocios/moda-de-segunda-mao-ganha-impulso-e-atrai-gigantes-do-setor-como-arezzo-e-grupo-jereissati/">Fonte: Infomoney</a></figcaption>
<div class="conteudo">
    <h1 style="font-size: 50px;">Seja bem-vindo à Your Modus </h1>
    <div style="background-color:lightpink;" class="oquetem">
        <div class="oquetemtxt">
        <h1>O que tem neste site?</h1>
        <p>Aqui você encontra vários estilos e looks diferentes para poder se inspirar os seus próprios looks e outfits para você que tem dúvida na hora de escolher um conjunto de roupa para vestir com as peças do seu guarda-roupa. Aqui também você pode ir ao nosso blog de postagens que serve para que os usuários dêem uma opinião sobre o site, o que falta, o que pode ser adicionado, o que pode ser retirado, e até também a respeito do tema do nosso site que seria a moda.</p>
        <a class="oquetema" style="{{none1}}" href="/cadastro">Cadastrar-se</a><a class="oquetema" style="{{none1}}" href="/login">Entrar</a><a class="oquetema" style="{{none}}"href="/blog">Ir para blog</a>
        </div>
        <div class="oquetemimg">
        <img src="../images/home/home.jpg" alt="https://laleska.com.br/wp-content/uploads/2019/07/Como-descobrir-meu-estilo-Conheca-os-7-estilos-universais.jpg">
        <figcaption><a class="fonte" href="https://laleska.com.br/conheca-os-sete-estilos-universais/">Fonte: Laleska</a></figcaption>
        </div>
    </div>
    <div style="background-color:lightcoral;"class="oquetem">
        <div class="oquetemimg">
        <img src="../images/home/home1.png" alt="https://megaminas.com.br/artigos/conheca-o-estilo-streetwear/capa-80b4c47a8b52b722c54080f90aaf5930.png">
        <figcaption><a class="fonte" href="https://megaminas.com.br/colunistas/fashionando/conheca-o-estilo-streetwear">Fonte: Megaminas</a></figcaption>
        </div>
        <div class="oquetemtxt">
        <h1>Para que usar esse site?</h1>
        <p>Para que você possa se expressar da maneira que você deseja, ou para se encaixar em um determinado grupo social, ou até mesmo para se sentir bem com você mesmo por usar roupas que te façam se sentir confortável e atraente, se inspirando em alguns estilos que te agrada ou que você se identifica. Pois hoje a moda pode ter vários sentidos para uma pessoa ou grupo, pode ser algo para trabalhar com, pode ser uma arte para você se expressar ou para socializar.</p>
        </div>
    </div>
    <div class="oquetem">
        <div class="oquetemtxt">
        <h1>Qual é o poder da moda?</h1>
        <p>Você pode interpretar parte da personalidade uma pessoa só por como ela se veste, um exemplo seria quando alguém chega em um ambiente vestindo determinadas vestimentas, é fácil perceber se ela está se importando para esse ambiente que ela está indo só pelas roupas. Então o poder e o impacto que uma roupa ou um look pode ter é bem importante, e é sobre isso que é a moda.</p>
        </div>
        <div class="oquetemimg">
        <img src="../images/home/home2.png" alt="https://guiaestilomasculino.com/wp-content/uploads/Estilo-casual-masculino-dicas.png">
        <figcaption><a class="fonte" href="https://guiaestilomasculino.com/estilo-casual-masculino-dicas-e-muito-mais/">Fonte: Guia estilo masculino</a></figcaption>
        </div>
    </div>
    <div style="background-color: lightpink;"class="oquetem">
        <div class="oquetemimg">
        <img src="../images/home/home3.webp" alt="https://www.almanaquedamulher.com/wp-content/uploads/2021/05/Estilo-grunge.jpg">
        <figcaption><a class="fonte" href="https://www.almanaquedamulher.com/cat-moda/estilo-grunge/">Fonte: Almanaque da mulher</a></figcaption>
        </div>
        <div class="oquetemtxt">
        <h1>O que é moda?</h1>
        <p>A palavra moda, que vem do latim "modus", significa um modo, uma maneira, ou um comportamento, que é basicamente o que a moda é sobre, um modo ou uma maneira de você ser ou se apresentar para as outras pessoas, e isso através de roupas. O que é usado hoje, é o conceito de moda daquilo que está em tendência hoje, que "está na moda", porém pode ir bem além disso. Onde há desfiles de moda em que as roupas são criadas por designers de moda estudados para criarem novas tendências, são as mesmas roupas que nós usamos hoje que um dia foram criadas para virarem tendência. Porém cada um querendo mostrar um sentido, um significado, ou um sentimento através dessas criações de roupas, tudo para cada pessoa poder se expressar o que sente através do significado que o criador colocou.</p>
        </div>
    </div>
    <div style="background-color: lightcoral;"class="oquetem">
        <div class="oquetemtxt">
        <h1>Quem somos?</h1>
        <p>Com tudo dito, nossa missão, além de poder ajudar as pessoas que usarem nosso site na hora de escolherem sua roupa e economizando tempo, é também apresentar a importância que a moda tem mostrando vários estilos e como eles podem mostrar um significado de você, um sentimento, ou uma expressão de você mesmo. Além disso queremos no futuro aumentar o número que adentram no mundo da moda, ou ao menos fazendo questão de se vestir bem, porque além de ser uma expressão artística, também pode ser um agrado para aqueles que vivem ao seu redor quando te olharem.</p>
        </div>
        <div class="oquetemimg">
        <img src="../images/home/home4.jpg" alt="https://i.pinimg.com/736x/7e/9c/83/7e9c83cecbfbe0f8623eb56584aaa2f9.jpg">
        <figcaption><a class="fonte" href="https://br.pinterest.com/pin/237424211589543966/">Fonte: Pinterest</a></figcaption>
        </div>
    </div>